.bar.bar-header.bar-light {
  height:10%;
}
h1#headerName  {
  font-family: 'Quicksand', sans-serif;
}
a.aLink  {
  font-family: 'Quicksand', sans-serif;
}
.chatbox {
  background-color:#444444;
  width:279px;
  height:351px;
  position:absolute;
  top:100px;
  left:-48px;
  color:white;
  text-align:left
}
.incoming {
  background-color:#444444;
  color:white;
  text-align:left;
  float:left;
  left:0;
  position:absolute;
  width:100%
}
#phone{
  background-color:#919191;
  height:100vh;
  position:static
}
#phoneHolder {
  width:320px;
  height:568px;
  background-color:black;
  position:absolute;
  left:138px;
  top:142px;
  overflow:hidden
}
#mainPic {
  margin-top:15%;
  position:relative;
  left:17.5%;
  width:65%;
}
#mainPicChat{
  width:100%;
  height:100%;
  margin:auto;
  top:50px
}
.mainPic {
  width:100%;
  height:100%;
  margin:auto;
  top:50px
}
.innerChat{
  width:75%;
  height:100px;
  position:absolute;
  left:-10%
}
.changeChat {
  position:absolute;
  border:white;
  position:relative;
  float:left;
  padding:5px
}
#mainDescription {
  position:relative;
  font-family: 'Quicksand', sans-serif;
  color:white;
  background-color:#222223;
  left:4.5%;
  text-align:center;
  width:85%;
  height:95%;
}
#viewMatches{
  width:100px;
  height:55px;
  float:left
}
#makeMatches {
  width:100px;
  float:right
}
#bottomLeft{
  position:fixed;
  bottom:5%;
  left:10%;
}
#bottomRight {
   position:fixed;
   bottom:5%;
   right:10%;
}
#console {
  position:fixed;
  width:auto;
  height:50px;
  color:white;
  bottom:0px;
  left:0px;
  z-index:999;
  text-align:right;
}
#cardDiv {
  position:relative;
  font-family: 'Quicksand', sans-serif;
  left:4.5%;
  text-align:center;
  width:85%;
  height:95%;
  margin-top:0;  
}
#carded {
  background-color:#444444;
  font-family: 'Quicksand', sans-serif;
  color:white;
  height:100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-color:black;
}
#cardedInfo {
  background-color:#222223;
  font-family: 'Quicksand', sans-serif;
  color:white;      
  height:100vh;
  border-width:0;
}
p.ng-binding { 
  color:white;
}
#home {
font-family: 'Quicksand', sans-serif;
  background-size: 100%, 100%;
}
#bio {
font-family: 'Quicksand', sans-serif;
  width:100%;
  height:100%;
  background-color:#222223;
}