<link rel="stylesheet" href="css/card-stack.css">
<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
<ion-view title="Matches">
  <ion-content scroll="false" id="larpa2" ng-init="init()">
    <div id="mainDescription" class="card">
      <td-cards>
        <td-card ng-repeat="(idx,card) in cards" on-destroy="cardDestroyed(idx)" on-swipe-left="swipeLeft()" on-swipe-right="swipeRight()" on-transition-left="transitionLeft()" on-transition-right="transitionRight()" on-transition-out="transitionOut()">
          <div ng-show="hideme">
            <div class="bar bar-header bar-dark">
              <h1 class="title" id="headerName" style="color:white">
                There's no one left...
              </h1> 
            </div>
            <a class="aLink" ng-click="goProfile()" id="bottomLeft"> back to profile </a>
            <a class="aLink" ng-click="goMatch()" id="bottomRight"> view matches </a>
          </div>
          <div class="list card" ng-hide="hideme">
            <div class="item item-divider" id="carded">
              {{card.name}}
            </div>
            <div class="item item-body" id="cardedInfo">
              <img ng-src="{{card.pic}}" class="full-image"> <p>
                {{card.gender}}<p>
                {{card.bio}} 
              <a class="aLink" ng-click="goProfile()" id="bottomLeft"> back to profile </a>
              <a class="aLink" ng-click="goChat()" id="bottomRight"> view matches </a>
            </div>
          </div>
        </td-card>
      </td-cards>
    </div>
  </ion-content>
</ion-view>